.login {
  float:right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.login #loginbutton {
  float:right;
}

.full {
  margin: 0px 10px 10px 10px;
  height:4em;
  width:98%;
}

.newstitle{
  font-size: 20;
  padding: 0.1em 0.5em 0.1em 0.5em;
  width:96%;
  height: 1.5em;
  margin: 575px 10px 5px 10px;
}

.firsthalf {
  width: 46%;
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin: 5px 0px 5px 10px;
  float:left;
}

.secondhalf {
  padding: 0.1em 0.5em 0.1em 0.5em;
  width: 46%;
  float: right;
  margin: 5px 10px 5px 0px;
}
