.login {
  float:right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.login #loginbutton {
  float:right;
}

.full {
  margin: 0.1em 0em 0.1em 0.5em;
  padding: 0em 0.5em 0em 0.5em;
  height:4em;
  width: 97%;
}

.firsthalf {
  width: 47%;
  position: relative;
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin: 0.5em 0.2em 0.1em 0.5em;
  float:left;
  z-index: -1;
}

table.firsthalf, .firsthalf td {
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.firsthalf td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 90%;
  border-bottom: 1px solid gray;
}

.secondhalf {
  padding: 0.1em 0.5em 0.1em 0.5em;
  width: 47%;
  float: right;
  height:23.2em;
  margin: 0.5em 0.5em 0.1em 0em;
}

hr {
color: red;
position: relative;
width: 100%;
margin-bottom: 0.9em;
}


.secondhalf table, .secondhalf td {
  margin-top: 2em;
  table-layout: fixed;
  width: 98%;
  font-size: 90%
}


td#tablehead {
  font-size: 90%;
  font-weight: 900;
}

.newstitle{
  font-size: 90%;
  padding: 0.1em 0.5em 0.1em 0.5em;
  width: 97%;
  height: 1.5em;
  margin: 25em 0.5em 0.5em 0.5em;
}

.login {
  float:right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.login #loginbutton {
  float:right;
}

/*

.article1 {
  margin: 0em 2em 0.5em 0.5em;
  height:8em;
  width: 53em;
  z-index: -1;
  padding: 0.3em 0.5em 0.1em 0.8em;
  position: relative;
}

.article1 img {
  float: left;
  margin-right: 25px;
}

 .article1 #textgroup {
  font-weight: 200;
  font-size: 18;
  color: black;
 }

.article1 #textgroup h3  {
  font-weight: 400;
  color: #CF1B0A;
}
*/