html {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  background-color: #EEEEEE;
  font-weight: 300;
  font-size: 18px;
  overflow: scroll;
  position: relative;
  top:0px;
  color: black;
}

header {
  color: #fff;
  height:100px;
  position: relative;
  top:0px;
  background-color: #CF1B0A;

}

.login {
  float:right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.login #loginbutton {
  float:right;
}

nav {

  color: #fff;
  background-color: #CF1B0A;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  position: absolute;
  height:40px;
  display: block;
  margin: 0px 0px 8px 0px;
  overflow: hidden;
  width: 100%; 
}

#navbar.navbar_fixed {
  position:fixed;
  top:0px;
  color: #fff;
  background-color: #CF1B0A;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  height:40px;
  display: block;
  margin: 0px 0px 8px 0px;
  overflow: hidden;
  width: 100%; 
}

  nav ul {
    margin: 0;
    padding: 0;
  }

    nav ul li {
      display: inline-block;
      list-style-type: none;
      
      -webkit-transition: all 0.2s;
        transition: all 0.2s; 
    }
      
      nav > ul > li > a > .caret {
        border-top: 4px solid #aaa;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        vertical-align: middle;
  
        -webkit-transition: color 0.1s linear;
     	  -moz-transition: color 0.1s linear;
       	-o-transition: color 0.1s linear;
          transition: color 0.1s linear; 
      }

      nav > ul > li > a {
        color: #fff;
        display: block;
line-height: 40px;
        padding: 0 24px;
        text-decoration: none;
      }
      nav > ul > li > form {
        float:;
      }

        nav > ul > li:hover {
          background-color: #A80F00;
        }

        nav > ul > li:hover > a {
          color: rgb( 255, 255, 255 );
        }

        nav > ul > li:hover > a > .caret {
          border-top-color: rgb( 255, 255, 255 );
        }
      
      nav > ul > li > div {
        background-color: #A80F00;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 165px;
	visibility: hidden;
	z-index: 100;
  
        -webkit-transiton: opacity 0.2s;
        -transition: opacity 0.2s;
      }

        nav > ul > li:hover > div {
          display: block;
          opacity: 1;
          visibility: visible;
        }

          nav > ul > li > div ul > li {
            display: block;
            font-size: 16px;
          }

            nav > ul > li > div ul > li > a {
              color: #aaa;
              display: block;
              padding: 12px 24px;
line-height: 40px;
              text-decoration: none;
            }

              nav > ul > li > div ul > li:hover > a {
                background-color: rgba( 255, 255, 255, 0.1);
              }

section {
  color: #CF1B0A;
}
article {
  background-color: #fff;
  display: block;
  font-size: 18;
  font-weight: 100;
}

.full {
  margin: 5px auto 5px auto;
  height:4em;
  width:96%;
  position: relative;
}


.firsthalf {
  width: 47%;
  float:left;
  position: relative;
  margin: 5px auto 5px 25px;
}

.secondhalf {
  width: 47%;
  float: right;
  position: relative;
  margin: 5px 25px 5px auto;
}
img, .logo {
  float:left;
  margin-top: 0.5em;
  margin-left: 0.5em;
}
#sp {
width:50%;
font-size: 50;
margin:0 auto;
text-align: center;
margin-top: 0.1em;
}

#title {
  font-size: 30;
  height: 10px;
  padding-left: 0.5em;
  padding-top: 0.1em;
}
#breadcrumb {
   padding-left: 1.2em;
  font-size: 14;
  padding-bottom: 1em;
 
}
a {
  color:#CF1B0A;
}

footer {
  bottom: 5;
  float:center;
  position: absolute;
  width: 99%;
  height: 75px;
  background-color: #CF1B0A;
}

.navigation [class^='part'] {
  -webkit-transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.1s linear
  transform: rotateX(90deg);
  transform-origin: 0 0;
}

.navigation .attached [class^='part'] {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}