.full {
  margin: 0.1em 0em 0.25em 0.5em;
  padding: 0em 0.5em 0em 0.5em;
  height:4em;
  width: 53em;
}

.fullsubtitle {
  margin: 0.1em 0em 0.25em 0.5em;
  padding: 0em 0.5em 0em 0.5em;
  height:1.5em;
  width: 53em;
}

.user {
  float:right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.user a {
	color: white;
}
.login {
  float:right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
